<div class="nav grid">
  <h1>Github PR Tracker</h1>
  <app-menu (refresh)="refresh()"></app-menu>
</div>
<!-- <div *ngIf="repos.length == 0">
  <mat-card>
    No repos were found, please update them in the settings.
  </mat-card>
</div> -->
<div *ngFor="let repo of repos">
  <mat-card *ngIf="repo.info != null">
    <mat-card-header>
      <mat-card-title>{{repo.info.name}}</mat-card-title>
      <mat-card-subtitle>{{repo.info.owner.login}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngIf="repo.pulls.length > 0; else empty">
        <div class="pull" *ngFor="let pull of repo.pulls">
          <a href="{{pull.html_url}}" target="_blank">
            <button mat-raised-button color="primary">{{pull.title}}</button>
            <p>#{{pull.number}} opened {{pull.created_at | timeAgo}}</p>
          </a>
        </div>
      </ng-container>
      <ng-template #empty>
        There are no active pull requests.
      </ng-template>
    </mat-card-content>
    <mat-card-actions align="end">
      <a href="{{repo.info.html_url}}" target="_blank">
        <button mat-raised-button color="accent">
          Open repo
        </button>
      </a>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="repo.info == null">
    {{repo.name}} was either not found or you were not authorized to view it.
  </mat-card>
</div>
<div class="loader" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>