<div *ngFor="let repo of repos">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{repo.info.name}}</mat-card-title>
      <mat-card-subtitle>{{repo.info.owner.login}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngIf="repo.pulls.length > 0; else empty">
        <div class="pull" *ngFor="let pull of repo.pulls">
          <a href="{{pull.html_url}}" target="_blank">
            <button mat-raised-button color="primary">{{pull.title}}</button>
            <p>#{{pull.number}} opened {{pull.created_at | timeAgo}}</p>
          </a>
        </div>
      </ng-container>
      <ng-template #empty>
        There are no active pull requests.
      </ng-template>
    </mat-card-content>
    <mat-card-actions align="end">
      <a href="{{repo.info.html_url}}" target="_blank">
        <button mat-raised-button color="accent">
          Open repo
        </button>
      </a>
    </mat-card-actions>
  </mat-card>
</div>