<div>
  <form [formGroup]="tokenForm">
    <mat-form-field appearance="outline">
      <mat-label>Repos</mat-label>
      <textarea rows="6" matInput formControlName="repos"></textarea>
      <mat-hint>Comma-separated repos, "octokit/Repo1, octokit/Repo2"</mat-hint>
      <mat-error *ngIf="tokenForm.get('repos').hasError('required')">
        * Required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>GitHub OAuth 2.0 Token</mat-label>
      <input matInput formControlName="token" type="password">
      <mat-hint>https://github.com/settings/tokens</mat-hint>
      <mat-error *ngIf="tokenForm.get('token').hasError('required')">
        * Required
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="submit()">Auth</button>
  </form>
</div>